contatos/
Send_WhatApp_mensage.ipynb
imgs/
ENCONTRO_1/
ENCONTRO_2/
ENCONTRO_3/
ENCONTRO_4/
ENCONTRO_5/
assets/github_social_preview.png
assets/social_preview_mentoria.psd
PyWhatKit_DB.txt
contatos_teste.xlsx
mensageria.py
mensagens/
logs/
mapa_comunidade/

ENCONTRO_0/assets/
ENCONTRO_0/resumo_aulas/transcricao/
utils/
books/
avisos/
assets/ativos/
__pycache__/